/*основной цвет текста #212121;
вторичный цвет текста #757575; rgba(117, 117, 117, 1);
белый цвет #FFFFFF;
синий цвет #2196F3;
*/
:root {
  --primary-text-color: #212121;
  --secondary-text-color: rgba(117, 117, 117, 1);
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --fon: #f5f4fa;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.navigation .current {
  color: var(--accent-color);
  position: relative;
}
.navigation .current::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
/*-------HEADER---------*/

.header {
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
}
.logo {
  margin-top: 24px;
  margin-bottom: 24px;
  color: var(--primary-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo .accent {
  color: var(--accent-color);
}
.navigation {
  display: flex;
  margin-left: 93px;
}
.navigation a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition: color 250ms var(--time-function);
}
.navigation a:hover,
.navigation a:focus {
  color: var(--accent-color);
}

.navigation .item:not(:last-child) {
  margin-right: 50px;
}
.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.address-header {
  display: flex;
  margin-left: auto;
}
.address-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.address-header .item + .item {
  margin-left: 50px;
}

.address-link {
  display: flex;
  align-items: center;
}
.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.address-link {
  color: var(--secondary-text-color);
  transition: color 250ms var(--time-function);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.envelope,
.smartphone {
  fill: currentColor;
}

/* -----HERO------------*/
.hero-fon {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/fon.jpg');
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.hero {
  color: var(--primary-white-color);
  margin-bottom: 30px;
  max-width: 650px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}
.hero-button {
  display: flex;
  margin: auto;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: none;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--time-function);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* -------FEATURE------------*/

.feature {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 0;
}
.feature div {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--fon);
  margin-bottom: 30px;
}
.feature svg {
  display: flex;

  width: 70px;
  height: 70px;
}

.feature .item:not(:last-child) {
  margin-right: 30px;
}

.feature-primary-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.feature-secondary-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* -------OCCUPATION-----------*/

.occupation-title,
.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.occupation-exemple {
  display: flex;
  padding-left: 0;
  padding-bottom: 94px;
}
.occupation-exemple .item:not(last-child) {
  margin-right: 30px;
}
.occupation-exemple .item {
  position: relative;
}
.occupation-exemple img {
  display: block;
}
.occupation-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
}
/* -------TEAM----------*/

.team {
  background-color: var(--fon);
}
.team-title {
  padding-top: 94px;
  padding-bottom: 50px;
  margin-bottom: 0;
}
.team-block {
  display: flex;
  padding-left: 0;
  padding-bottom: 94px;
}
.team-block .item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}
.team-block .item:not(:last-child) {
  margin-right: 30px;
}
.team-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-duty {
  margin-bottom: 15px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-sociallinks,
.join-sociallinks {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
  height: 45px;
}

.team-sociallinks .link:not(last-child),
.join-sociallinks .link:not(last-child) {
  margin-right: 10px;
}
.team-sociallinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  transition: background-color 250ms var(--time-function), color 1000ms var(--time-function);
}
.team-sociallinks .icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.team-sociallinks a:hover,
.team-sociallinks a:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* -------CLIENTS---------*/
.clients-title {
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.clients-logo {
  display: flex;
  padding-bottom: 94px;
}
.clients-logo a {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  transition: border 250ms var(--time-function), color 250ms var(--time-function);
}
.clients-logo .item:not(:last-child) {
  margin-right: 40px;
}
.clients-logo .icon {
  margin: 0 auto;
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.clients-logo a:hover,
.clients-logo a:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

/* -------FOOTER---------*/
.footer {
  background-color: #2f303a;
}
.footer .container {
  display: flex;
}
.footer .logo {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}
.address-footer {
  padding-left: 0;
  padding-bottom: 60px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address-place {
  color: var(--primary-white-color);
}
.address-mail,
.address-tel {
  color: var(--secondary-text-color);
}
.join {
  margin-left: 70px;
}
.join-title {
  margin-top: 72px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.join-sociallinks {
  padding: 0;
}

.join-sociallinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  transition: background-color 250ms var(--time-function);
}
.join-sociallinks a:hover,
.join-sociallinks a:focus {
  background-color: var(--accent-color);
}
.join-sociallinks .icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.signup {
  margin-top: 72px;
  margin-left: 93px;
  margin-bottom: 94px;
}
.signup label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.signup input {
  width: 358px;
  height: 50px;
  padding: 15px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}
.signup button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  color: var(--primary-white-color);
}
.signup svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.signup > div {
  display: flex;
}
/*-----------PORTFOLIO-----------------*/

.portfolio-button {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
  background-color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.portfolio-button .item:not(last-child) {
  margin-right: 8px;
}
.portfolio-button [type='button'] {
  margin: auto;
  border: none;
  padding: 10px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--time-function), color 250ms var(--time-function),
    box-shadow 250ms var(--time-function);
}
.portfolio-button [type='button']:hover,
.portfolio-button [type='button']:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project {
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms var(--time-function);
}
.project:hover,
.project:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.project a {
  color: var(--primary-text-color);
}
.project-img {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}
.project-text-hiden {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}
.project-hiden {
  position: absolute;
  bottom: 0;
  transform: translateY(294px);
  transition: transform 250ms var(--time-function);

  display: flex;
  align-items: center;
  padding: 0 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}
.project:hover .project-hiden {
  transform: translateY(0);
}

.project-title {
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.project-text {
  padding-bottom: 20px;
  padding-left: 24px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-bottom: 94px;
}
.project {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.project:nth-child(3n) {
  margin-right: 0;
}
.project:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/*-----------BACKDROP-----------------*/

.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--time-function);
}
.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms var(--time-function);
  min-width: 530px;
  min-height: 580px;
  background-color: var(--primary-white-color);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(1.1) translate(-50%, -50%);
}
.close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #0000001a;
  background-color: var(--primary-white-color);
  color: #000000;
  transition: color 250ms var(--time-function);
}
.close:hover {
  color: var(--accent-color);
}
.close-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  fill: currentColor;
}
.backdrop-title {
  margin-top: 40px;
  margin-left: 40px;
  padding-right: 40px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.modal-signup {
  width: 450px;
  margin-left: 40px;
  margin-right: 40px;
}
.form-label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: flex-start;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-label span {
  margin-bottom: 4px;
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--time-function);
}
.modal-signup textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;
  resize: none;
  outline: none;
}
.form-label .icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transition: fill 250ms var(--time-function);
}
.form-label:focus-within .form-input,
.form-label:focus-within textarea {
  border-color: var(--accent-color);
}

.form-label:focus-within .icon {
  fill: var(--accent-color);
}
.form-checkbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.form-checkbox a {
  color: var(--accent-color);
  text-decoration: underline;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.form-checkbox .icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color 250ms var(--time-function);
}
.icon-checked {
  position: absolute;
  top: 5px;
  left: 15px;
  opacity: 0;
  width: 16px;
  height: 15px;
}
.checkbox:checked + .icon {
  background-color: var(--accent-color);
  border: none;
}
.checkbox:checked ~ .icon-checked {
  opacity: 1;
}
.form-button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
