.portfolio-button {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
  background-color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.portfolio-button .item:not(last-child) {
  margin-right: 8px;
}
.portfolio-button [type="button"] {
  margin: auto;
  border: none;
  padding: 10px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--time-function),
    color 250ms var(--time-function), box-shadow 250ms var(--time-function);
}
.portfolio-button [type="button"]:hover,
.portfolio-button [type="button"]:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project {
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms var(--time-function);
}
.project:hover,
.project:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.project a {
  color: var(--primary-text-color);
}
.project-img {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}
.project-text-hiden {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}
.project-hiden {
  position: absolute;
  bottom: 0;
  transform: translateY(294px);
  transition: transform 250ms var(--time-function);

  display: flex;
  align-items: center;
  padding: 0 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}
.project:hover .project-hiden {
  transform: translateY(0);
}

.project-title {
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.project-text {
  padding-bottom: 20px;
  padding-left: 24px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-bottom: 94px;
}
.project {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.project:nth-child(3n) {
  margin-right: 0;
}
.project:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
